body{
    background-color: #E5E5E5;
}
main{
    max-width: 870px;
}
.top-player{
    background-color: #f0ebeb;
}
.brand-logo{
    width: 40px;
}
.me-3 {
    margin-left: ($spacer ) !important;
}
.player img{
    width: 56px;
}

